<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" >
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="m-item right item m-mobile-hide">
                <div class="ui icon inverted  input">
                    <input type="text" placeholder="Search....">
                    <i class=" search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top ">
        <i class="sidebar icon m-mobile-show"></i>
    </a>

</nav>
<!--中间内容-->
<div class="m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--博客内容-->
            <div class="eleven wide column">
                <!--header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h3 class="ui orange header m-inline-block m-text-thin"th:text="${page.totalElements}" >X</h3>篇
                        </div>
                    </div>
                </div>
                <!--content-->
                <div class="ui top attached segment">
                    <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                        <div class="ui middle aligned mobile reversed stackable grid" >
                            <div class="eleven wide column">
                                <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">重构的艺术</a></h3>
                                <p class="m-text-lined" th:text="|${blog.description}......|">代码重构是一门艺术</p>
                                <div class="ui grid">
                                    <div class="eleven wide column m-padded-tb-mini">
                                        <div class="ui horizontal link list">
                                            <div class="item m-padded-tb-mini">
                                                <img src="https://picsum.photos/id/1002/100/100" th:src="@{${blog.user.avatar}}" alt=""
                                                     class="ui avatar image">
                                                <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">袁博宇</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calender icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-5-17</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i><span th:text="${blog.views}">1111</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="right aligned five wide column m-padded-tb-mini">
                                        <a href="#" target="_blank"
                                           class=" ui teal basic label center aligned   m-padded-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>
                                    </div>
                                </div>


                            </div>
                            <div class="five wide column">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                    <img src="https://picsum.photos/id/1002/800/450" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                                </a>

                            </div>
                        </div>
                    </div>
                    <!--/*-->
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">重构的艺术</h3>
                                <p>代码重构是一门艺术
                                    <br>
                                    <br>
                                    <br>
                                </p>
                                <div class="ui grid">
                                    <div class="eleven wide column m-padded-tb-mini">
                                        <div class="ui horizontal link list">
                                            <div class="item m-padded-tb-mini">
                                                <img src="https://picsum.photos/id/1002/100/100" alt=""
                                                     class="ui avatar image">
                                                <div class="content"><a href="#" class="header">袁博宇</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calender icon"></i>2020-5-17
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>1111
                                            </div>
                                        </div>

                                    </div>
                                    <div class="right aligned five wide column m-padded-tb-mini">
                                        <a href="#" target="_blank"
                                           class=" ui teal basic label center aligned   m-padded-tiny m-text-thin">认知升级</a>
                                    </div>
                                </div>


                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://picsum.photos/id/1002/800/450" alt="" class="ui rounded image">
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">重构的艺术</h3>
                                <p>代码重构是一门艺术
                                    <br>
                                    <br>
                                    <br>
                                </p>
                                <div class="ui grid">
                                    <div class="eleven wide column m-padded-tb-mini">
                                        <div class="ui horizontal link list">
                                            <div class="item m-padded-tb-mini">
                                                <img src="https://picsum.photos/id/1002/100/100" alt=""
                                                     class="ui avatar image">
                                                <div class="content"><a href="#" class="header">袁博宇</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calender icon"></i>2020-5-17
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>1111
                                            </div>
                                        </div>

                                    </div>
                                    <div class="right aligned five wide column m-padded-tb-mini">
                                        <a href="#" target="_blank"
                                           class=" ui teal basic label center aligned   m-padded-tiny m-text-thin">认知升级</a>
                                    </div>
                                </div>


                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://picsum.photos/id/1002/800/450" alt="" class="ui rounded image">
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">重构的艺术</h3>
                                <p>代码重构是一门艺术
                                    <br>
                                    <br>
                                    <br>
                                </p>
                                <div class="ui grid">
                                    <div class="eleven wide column m-padded-tb-mini">
                                        <div class="ui horizontal link list">
                                            <div class="item m-padded-tb-mini">
                                                <img src="https://picsum.photos/id/1002/100/100" alt=""
                                                     class="ui avatar image">
                                                <div class="content"><a href="#" class="header">袁博宇</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calender icon"></i>2020-5-17
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>1111
                                            </div>
                                        </div>

                                    </div>
                                    <div class="right aligned five wide column m-padded-tb-mini">
                                        <a href="#" target="_blank"
                                           class=" ui teal basic label center aligned   m-padded-tiny m-text-thin">认知升级</a>
                                    </div>
                                </div>


                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://picsum.photos/id/1002/800/450" alt="" class="ui rounded image">
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">重构的艺术</h3>
                                <p>代码重构是一门艺术
                                    <br>
                                    <br>
                                    <br>
                                </p>
                                <div class="ui grid">
                                    <div class="eleven wide column m-padded-tb-mini">
                                        <div class="ui horizontal link list">
                                            <div class="item m-padded-tb-mini">
                                                <img src="https://picsum.photos/id/1002/100/100" alt=""
                                                     class="ui avatar image">
                                                <div class="content"><a href="#" class="header">袁博宇</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calender icon"></i>2020-5-17
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>1111
                                            </div>
                                        </div>

                                    </div>
                                    <div class="right aligned five wide column m-padded-tb-mini">
                                        <a href="#" target="_blank"
                                           class=" ui teal basic label center aligned   m-padded-tiny m-text-thin">认知升级</a>
                                    </div>
                                </div>


                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://picsum.photos/id/1002/800/450" alt="" class="ui rounded image">
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">重构的艺术</h3>
                                <p>代码重构是一门艺术
                                    <br>
                                    <br>
                                    <br>
                                </p>
                                <div class="ui grid">
                                    <div class="eleven wide column m-padded-tb-mini">
                                        <div class="ui horizontal link list">
                                            <div class="item m-padded-tb-mini">
                                                <img src="https://picsum.photos/id/1002/100/100" alt=""
                                                     class="ui avatar image">
                                                <div class="content"><a href="#" class="header">袁博宇</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calender icon"></i>2020-5-17
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>1111
                                            </div>
                                        </div>

                                    </div>
                                    <div class="right aligned five wide column m-padded-tb-mini">
                                        <a href="#" target="_blank"
                                           class=" ui teal basic label center aligned   m-padded-tiny m-text-thin">认知升级</a>
                                    </div>
                                </div>


                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://picsum.photos/id/1002/800/450" alt="" class="ui rounded image">
                                </a>

                            </div>
                        </div>
                    </div>
                    <!--*/-->

                </div>
                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" th:href="@{/(page=${page.number}-1)}"  th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" th:href="@{/(page=${page.number}+1)}"  th:unless="${page.last}"  class="ui mini teal basic button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--右边的TOP内容-->
            <div class="five wide column">
                <!--分类-->
                <div class="ui segments ">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/types/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu" >
                            <a href="#" th:href="@{/types/{id}(id=${type.id})}" class="item" th:each="type : ${types}"><span th:text="${type.name}">学习日志</span>
                                <div class="ui teal basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                            </a>
                            <!--/*-->
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <!--*/-->

                        </div>
                    </div>
                </div>
                <!--标签-->
                <div class="ui segments m-margin-tb-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/tags/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a href="#" th:href="@{tags/{id}(id=${tag.id})}" target="_blank" class="ui teal basic right pointing label m-margin-tb-tiny" th:each="tag : ${tags}">
                            <span th:text="${tag.name}">方法论</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">12</div>
                        </a>

                        <!--/*-->
                        <a href="#" target="_blank" class="ui teal basic right pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">12</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic right pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">12</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic right pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">12</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic right pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">12</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic right pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">12</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic right pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">12</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic right pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">12</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic right pointing label m-margin-tb-tiny">
                            方法论
                            <div class="detail">12</div>
                        </a>
                        <!--*/-->

                    </div>
                </div>
                <!--最新推荐-->
                <div class="ui segments m-margin-tb-large">
                    <div class="ui secondary segment " >
                        <i class="bookmark icon"></i>最新推荐
                    </div>
                    <div class="ui teal segment" th:each="blog : ${recommendBlogs}">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black m-text-thin" th:text="${blog.title}">用户故事</a>
                    </div>
                    <!--/*-->
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事</a>
                    </div>
                    <!--*/-->

                </div>
                <!--二维码-->
                <h4 class="ui horizontal divider header m-margin-tb-large">扫码关注我</h4>
                <div class="ui centered card" style="width: 11em">
                    <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image">
                </div>

            </div>
        </div>
    </div>
</div>
<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted  vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded image" alt="" style="width: 110px">
                    </div>

                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">敏捷软件开发</a>
                    <a href="#" class="item">重构的艺术</a>
                    <a href="#" class="item">代码质量管理</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:boyuyuan@mails.ccnu.edu.cn</a>
                    <a href="#" class="item">QQ:2608379678</a>
                    <a href="#" class="item">Wechat:ybygod</a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，会分享编程，写作，思考相关的任何内容，希望能给来到这的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 Blog Designed by BoyuYuan</p>
    </div>
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->


<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')

    })
</script>
</body>
</html>